
body{
    background-size: 1375px 650px;
    background-image: url(emoji2.png);
}
h1 {
  text-align: center;
color: #f4ce61;
font-family: 'Mukta', sans-serif;
text-shadow: 2px 2px black;
}
.grid-container {
  border: 4px ridge #f4ce61;
  width: 420px;
  height: 360px;
  display: flex;
  flex-wrap: wrap;
  margin-left: 34.5%;
}
.grid-container div {
  width: 60px;
  height: 60px;
}
.player_1 {
    background-size: 60px 60px;
    background-image: url(e3.jpeg);
 border-radius: 35px;
}
.player_2 {
    background-size: 60px 60px;
    background-image: url(e6.jpg);
    border-radius: 35px;
}
