/*body{
    background-image: url(emoji.jpg);
}*/
*h1 {
  text-align: center;}
.grid-container {
  border: 1px solid red;
  width: 525px;
  height: 450px;
  display: flex;
  flex-wrap: wrap;
  margin-left: 25%;
}
.grid-container div {
  width: 75px;
  height: 75px;
}
.player_1 {
  background-color: red;
  border-radius: 35px;
}
.player_2 {
  background-color: blue;
  border-radius: 35px;
}
